.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPageContainer nav{
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}

.navList{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}
.landingMainContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1.2rem;
  color: white;
  
}
.landingMainContainer .mainContentImg img{
  height: 70vh;
  width: auto;
  
}
.landingMainContainer .mainContent .getStartedbtn{
  background-color: #d97500 ;
 
  margin-top: 1.4rem;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 7px;
}
.landingMainContainer .mainContent .getStartedbtn a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  color: black;
  
} 

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}




.leftPanel {
height: 100%;
display: flex;
align-items: center;
margin-bottom: 20px;
text-size-adjust: 100px;

}

.rightPanel {
display: flex;
align-items: center;
}

.rightPanel > img {
width: 30vw;
height: auto;
border-radius: 20px;
}


